 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url("https://codzsword.github.io/bootstrap-sidebar/background-image.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.main h1 {
    font-size: 32px;
    color: #ffffff;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    padding-top: 50px
}

p{
    font-size: 18px;
    color:#ffffff;
    margin: 50px;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

.wrapper {
    display: flex;
}

.main{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}
#sidebar{
    min-width: 70px;
    width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #1b1934;
}
#sidebar.expand {
    width: 260px;
    min-width: 260px;
}
#toggle-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

#toggle-btn i{
    font-size: 1.5rem;
    color: #ffffff;
}

.sidebar-logo{
    margin: auto;
}

.sidebar-logo a{
    color: #ffffff;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
    display: none;
}

.sidebar-nav{
    padding:2rem 0;
    flex: 1 1 auto;
}
 a.sidebar-link{
    padding:.625rem 1.625rem;
    color: #ffffff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left:3px solid transparent;

 }

 .sidebar-link i{
    font-size: 1.1rem;
    margin-right: .75rem;
 }

 a.sidebar-link:hover{
    background-color: rgba(255,255,255,.075);
    border-left: 3px solid #3b7ddd;
 }

 .sidebar-item{
    position: relative;
 }

 #sidebar:not(.expand) .sidebar-item .sidebar-dropdown{
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
 }

 #sidebar:not(.expand) .sidebar-item:hover .has-dropdown+ .sidebar-dropdown{
    display: block;
    max-height:15em;
    width:100%;
    opacity:1;
 }

 #sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right:1.5rem;
    top:1.4rem;
    transform: rotate(-135deg);
    transition: all .25s ease-in-out;
 }

 #sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform:rotate(45deg);
    transition: all .2s ease-out;
 }

 .clear{
    clear:both;
 }

 img{
    display:flex;
    justify-content: center;
    width: 400px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 #overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
  
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999;
  }
  
  .overlay-box {
    width: 100%;
    height: 100%;
    background: #182c43;
  
    transform: translateY(100%);
    transition: transform 0.4s ease;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: auto;
  }
  
  #overlay.active .overlay-box {
    transform: translateY(0);
  }

  #closeOverlay {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fafbfe;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  
  
  